<div class="side-bar">
  <ul>
    <li class="menu-head">
        AGENDA EDU <a href="#" class="push_menu"><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
    </li>
    <div class="menu">
      <li>
          <a href="#" class="active"><span class="glyphicon glyphicon-dashboard pull-left"></span>Mensagens </a>
      </li>
      <li>
          <a href="#"><span class="glyphicon glyphicon-star pull-left"></span> Arquivadas</a>
      </li>
      <li>
          <a href="#"><span class="glyphicon glyphicon-cog pull-left"></span>Enviadas</a>
      </li>
    </div>
  </ul>
</div>
