@import "bootstrap-sprockets";
@import "bootstrap";
@import "shared/_navbar";
@import "shared/_sidebar";
@import "login";

.container
{
    width:800px;
    overflow:hidden;
    display:inline-block;
}

.content
{
    padding-left: 200px;
    transition: padding-left 0.5s;
}
